PORT=3002
DATABASE_URL="postgresql://agro_user:agro_password@localhost:5432/agro_scale_db?schema=public"
IOT_API_KEY="your_iot_key"
JWT_SECRET="your_jwt_secret"
ML_SERVICE_URL=""
FRONTEND_URL="http://localhost:3000"
